$theme_main_dark: #595353;
$theme_main_green: #7CB956;
$theme_main_orange: #DDB72F;
$theme_main_white: #F3EEDB;
$theme_darker_dark: #3F3A3A;
$theme_darker_green: #679A47;
$theme_darker_orange: #B79725;
$theme_darker_white: #D3CFBD;