<!-- Tooxic -->
<div class="container">

    <button class="btn btn-success">Add friend</button>
    <button class="btn btn-warning">Pending requests</button>
    <!-- <button class="btn btn-danged">Blocked</button> -->
    
    <div class="container d-flex flex-wrap justify-content-center">
        <!-- Loop for each friend here -->
        <div class="card" style="width: 18rem;">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Tolfx</li>

            </ul>
          </div>

    </div>

</div>