<!-- Tolfx -->
<div class="container">

    <button class="btn btn-success">Add friend</button>
    <button class="btn btn-warning">Pending requests</button>
    <!-- <button class="btn btn-danged">Blocked</button> -->
    
    <div class="container d-flex flex-wrap justify-content-center">
        <!-- Loop for each friend here -->

    </div>

</div>