<!-- Tooxic -->
<div class="container">

    <button class="btn btn-success">Add friend</button>
    <button type="button" class="btn btn-warning" data-bs-toggle="modal" data-bs-target="#staticBackdrop">
        Pending
    </button>
    <!-- <button class="btn btn-danged">Blocked</button> -->
    
    <div class="container d-flex flex-wrap justify-content-center">
        <!-- Loop for each friend here -->
        <% Friends.forEach(friend => { %>
            <% friend.googleIds.forEach(a => { %>
                <% if (a.tag !== Tag) { %>
                    <div class="card" style="width: 18rem;">
                        <ul class="list-group list-group-flush">
                          <li class="list-group-item"><%= a.username %> </li>
            
                        </ul>
                      </div>
                <% } %>

            <% }) %>

        <% }) %>


    </div>


  
    <!-- Modal -->
    <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title" id="staticBackdropLabel">Pending friend requests</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <% PendingFriends.forEach(friends => { %>
                <% friends.googleIds.forEach(a => { %>
                    <% if (a.tag !== Tag) { %>
                        <%= a.username %>
                        <form action="/friends/accept/<%= a.tag %>" method="post">
                            <button type="submit">Accept</button>
                        </form>
                    <% } %>
                <% }) %>
            <% }) %>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary">Understood</button>
            </div>
        </div>
        </div>
    </div>

</div>