<% if(!isAuth) { %>
    <div class="container d-flex justify-content-center" style="margin-top: 10%;">
        <div class="card text-light rounded shadow p-3 bg-dark" style="width: 18rem;">
            <h1 class="">Welcome</h1>

                <a class="btn btn-primary text-light m-3" href="/oauth/google">
                    <img 
                        src="https://img.icons8.com/color/16/000000/google-logo.png" 
                        alt="" 
                        width="20" 
                        height="20"
                    /> Sign in with Google
                </a>
        </div>
    </div>
<% } %> 